<!DOCTYPE html>
<html>

<head>
	<title>Login Page</title>
	<!--Made with love by Mutiullah Samim -->

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!--Custom styles-->
	<!-- <link rel="stylesheet" type="text/css" href="../public/stylesheets/loginCss.css"> -->

	<style>
		/* Made with love by Mutiullah Samim*/

		@import url('https://fonts.googleapis.com/css?family=Numans');

		html,
		body {
			/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
			background-color: rgb(95, 37, 137);

			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			/* font-family: 'Numans', sans-serif; */
		}

		.container {
			height: 100%;
			align-content: center;
		}

		.card {
			height: 500px;
			margin-top: 20px;
			margin-bottom: auto;
			width: 400px;
			background-color: rgba(0, 0, 0, 0.5) !important;
		}



		/* .social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
} */

		.card-header h4 {
			color: white;
		}

		/* 
.social_icon{
position: absolute;
right: 20px;
top: -45px;
} */

		.input-group-prepend span {
			width: 50px;
			background-color: #3aff12;
			color: black;
			border: 0 !important;
		}

		input:focus {
			outline: 0 0 0 0 !important;
			box-shadow: 0 0 0 0 !important;
		}



		.login_btn {
			margin-top: 25px;
			color: black;
			background-color: #12ff2e;
			width: 100px;
		}

		.login_btn:hover {
			color: black;
			background-color: white;
		}

		.links {
			color: rgb(235, 176, 176);

		}

		.links a {
			font-size: medium;
			margin-left: 15px;
			color: rgb(54, 239, 25);
		}


		a:hover {
			text-decoration: none;
		}

		.head-text {
			margin-top: 0px;
			margin-bottom: auto;

		}

		.head-text h5 {
			background-color: rgba(55, 249, 2, 0.905);
		}

		.msg-p {
			color: red;

		}



		/* Navbar */

		.breadcome-list {
			padding-top: 15px;
			padding-bottom: 100px;
		}


		.breadcome-heading a {
			text-decoration: none;
			position: absolute;
			top: 0;
			left: 120px;
			display: block;
			height: 34px;
			line-height: 34px;
			width: 200px;
			text-align: left;
			color: #999;

		}

		ul.breadcome-menu {
			text-align: right;
		}

		ul.breadcome-menu {
			padding-top: 8px;
		}

		ul.breadcome-menu1 {
			text-align: end;
			margin-right: 60px;
			padding-top: 8px;
			padding-top: 0px;
		}

		

		ul {
			list-style: outside none none;
			margin: 0;
			padding: 0;
		}


		ul.breadcome-menu1 li a {
			color: #fff;
			text-decoration: none;
			/* font-size: 18px; */
		}

		ul.breadcome-menu1 li {
			padding-top: 30px;
			font-size: 18px;
			display: inline-block;
			margin-right: 25px;
			color: #fff;

		}

		.dashboard_header {
			background: linear-gradient(0deg, #a123a8, 40%, #1176ac 60%);
			max-height: 110px;
		}
	</style>
</head>

<body>


	<div class="row">

		<!-- dashboard header start -->
		<div class="col-md-12 p-0">
			<div class="breadcome-area">
				<div class="container-fluid">
					<div class="row dashboard_header">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="breadcome-list">
								<div class="row">

									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<div class="breadcome-heading">
											<!-- <h2 style="color: #f1de07;">Parking Management System</h2> -->

											<!-- <form role="search" class="form_input"> -->
											<div class="heading_tag">
												<a href="/">
													<h4 style="color: #07f136;">Car Parking Reservation System</h4>
												</a>
											</div>


										</div>
									</div>
									<div class="col-lg-8 col-md-6 col-sm-4 col-xs-4">
										<ul class="breadcome-menu1">

											<li><a href="/">HOME</li>
											<li><a href="/booking" />BOOKSLOT</li>
											<li><a href="/register" />REGISTRATION</li>
											<li><a href="/about" />ABOUT</li>
											<li><a href="#" />CONTACT</li>

										</ul>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- dashboard header end -->

		</div>
	</div>

	<div class="row">

		<div class="container">

			<div class="d-flex justify-content-center h-100">

				<div class="card">
					<div class="text-center head-text">
						<h5>Car Parking Reservation System</h5>
					</div>

					<!-- <form action="/login" method="post"> -->
					<div class="card-header text-center">
						<h4>Sign In</h4>

					</div>
					<p class="msg-p text-center">
						<%=(typeof alertMsg!='undefined' )? alertMsg:''%>
					</p>
					<div class="card-body">
						<form action="/login" method="post">
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="text" class="form-control" placeholder="Email ID" name="email">

							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" class="form-control" placeholder="Password" name="password">
							</div>
							<!-- <div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div> -->
							<div class="form-group">
								<input type="submit" value="Login" class="btn w-100 login_btn">
							</div>
						</form>
					</div>
					<div class="card-footer">
						<div class="d-flex justify-content-center links">
							Don't have an account?<a href="register">Sign Up</a>
						</div>
						<div class="d-flex justify-content-center ">
							<a href="#">Forgot your password?</a>
						</div>
					</div>
					<!-- </form> -->
				</div>
			</div>
		</div>
	</div>
</body>

</html>